<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'bs5/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bs5/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bs5/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'bs5/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container-fluid bg-secondary">
        <div class="container-md bg-steel h-100 shadow-lg" >
            <div class="row">
                <div class="col-sm-3">
                    <div class="border-right border-warning h-100 ">
                        {% include 'webapp/include/sidebar.html' %} 
                    </div>
                </div>
                <div class="col-sm-9 h-100 mb-3">
                        {% block content %}
                        {% endblock content %}
                </div>
                       

            </div>

            {% include 'webapp/include/footer.html' %}
        </div> 
    </div>
    <script src="{% static 'bs5/js/jquery.js' %}"></script>
    <script src="{% static 'bs5/js/popper.js' %}"></script>
    <script src="{% static 'bs5/js/all.min.js' %}"></script>
    <script src="{% static 'bs5/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'bs5/js/bootstrap.js' %}"></script>



</body>
</html>