{% extends 'webapp/base.html'%}
{% block title %} Certifications {% endblock title %}
{% block content %}
<div class="mt-5">
        <i>
            <h1 class="st-font text-white mb-5 border-bottom border-warning text-warning">Certifications</h1>
            <div class="row my-5">
                <div class="col-sm-12">
                    <h5 class="text-white mx-2 fst-italic">
                        <ul>
                            <li class="mb-3"> E-Commerce (E-Com) from Aptech Computer Ltd. Ludhiana</li>
                            <li class="mb-3"> M-Commerce (M-Com) From Aptech Computer Ltd. Ludhiana</li>
                            <li class="mb-3"> OCP (Oracle Certified Professional) from SQL Star International, Ludhiana</li>
                            <li class="mb-3"> Python 101 for Data Science (Powered by IBM Developer Skill Network.</li>
                            <li class="mb-3"> The Fundamentals of Digital Marketing (by Google Digital Unlocked)</li>
                        </ul>
                    </h5>
                </div>
            </div>
        </i>
</div>
{% endblock content%}