{% extends 'webapp/base.html'%}
{% block title %} Project Detials {% endblock title %}
{% block content %}
<div class="mt-5">
    <i>
    <h1 class="st-font text-white mb-5 border-bottom border-warning text-warning">Projects Details</h1>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-white mx-2 fst-italic">
                <div class="mt-3 p-2" style="line-height :2rem">
                    <p class="text-justify"><b>Portfolio</b> is <b>Static Application</b>, which you can not perform the <b>CRUD
                            operations</b> like Addition, Modification and deletion records. <b>Portfolio</b> in Python<b> Django-4.0 framework</b> major functonlity
                        of Python-Django used as under :-
                    <ul>
                        <li>Django-4.0</li>
                        <li>Template Inheritance </li>
                        <li>Error handling </li>
                        <li>Pagination</li>
                        <li>Message handling</li>
                    </ul>
                    </p>
                </div>
            </h5>
        </div>
    </div>
    </i>
</div>
{% endblock content%}