{% extends 'webapp/base.html'%}
{% block title %} Projects {% endblock title %}
{% block content %}
<div class="mt-5">
    <i>
    <h1 class="st-font text-white mb-5 border-bottom border-warning text-warning">Projects Completed</h1>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-white mx-2 fst-italic">
                <ul>
                    <li class="mb-3 italic">Portfolio Project (Php Larave-9) </li>
                    <li class="mb-3 italic">Address Book Project (Php Larave-9) </li>
                    <li class="mb-3 italic">Contact Book Project (Php Larave-9) </li>
                    <li class="mb-3 italic">OneToOne Project (Php Larave-9) </li>
                    <li class="mb-3 italic">Blog Project (Python Flask)</li>
                    <li class="mb-3 italic">To-do Project (Python Flask)</li>
                    <li class="mb-3 italic">Blog Project (Python Django)</li>
                    <li class="mb-3 italic">Portfolio Project (Python Django)</li>
                </ul>
            </h5>
        </div>
    </div>
    </i>
</div>
{% endblock content%}