{% extends 'webapp/base.html'%}
{% block title %} Resume {% endblock title %}
{% block content %}
<div class="mt-5">
    <i>
        <h1 class="st-font text-white mb-5 border-bottom border-warning text-warning">Resume</h1>
        <div class="row my-5">
            <div class="col-md-12">
                <h5 class="text-white mt-2 mb-2">
                    <p><i> Jaswinder Singh <br>
                            Vill. Changerwan, P.O. Talwara,<br>
                            Tehsil - Mukerian, Distt.-Hoshiarpur<br>
                            144216 (Punjab) India<br>
                            <br>
                            E-Mail : haanzee@gmail.com<br>
                            : software_engineer_ot@yahoo.com
                            <br><br>
        
                            Mobile No. 98037-00470<br>
                        </i> </p>
                    <p class="text-warning text"><i><u> Job Objective:</u></i> </p>
                    <p><i> Work for an organization, which can provide me more opportunities to serve my Qualification and
                            skills in a optimum way to grow with the organizations.</i></p>
                    <p class="text-warning text"><i><u> Educational Qualification:</u></i> </p>
                    <ul>
                        <ul>
                            <li><i>Graduation from GNDU, Amritsar-(Punjab)</i> </li>
                        </ul>
                    </ul>
                    <p class="text-warning text"><i><u> Professional Qualification:</u></i> </p>
                    <ul>
                        <ul>
                            <li><i> E-Commerce (E-Com) from Aptech Computer Ltd. Ludhiana </i></li>
                            <li><i> M-Commerce (M-Com) From Aptech Computer Ltd. Ludhiana</i></li>
                            <li><i> OCP (Oracle Certified Professional) from SQL Star International, Ludhiana</i></li>
                            <li><i> Python 101 for Data Science (Powered by IBM Developer Skill Network.</i></li>
                            <li><i> The Fundamentals of Digital Marketing (by Google Digital Unlocked)</i></li>
                        </ul>
                    </ul>
                    <p class="text-warning text"><i><u> Technical Skills:</u></i> </p>
                    <ul>
                        <ul>
                            <li><i> Java Core </i></li>
                            <li><i> Php </i></li>
                            <li><i> Python </i></li>
                            <li><i> JavaScript </i></li>
                            <li><i> Html / Css / Bootstrap </i></li>
                            <li><i> Sql </i></li>
        
                        </ul>
                    </ul>
                    <p class="text-warning text"><i><u> Tools, Frameworks & Libraries:</u></i> </p>
                    <ul>
                        <ul>
                            <li><i> Django </i></li>
                            <li><i> Flask </i></li>
                            <li><i> Laravel</i></li>
                            <li><i> ReactJS </i></li>
                            <li><i> Git / Github </i></li>
                            <li><i> AWS Cloud Computing</i></li>
                            <li><i> Power BI </i></li>
                        </ul>
                    </ul>
        
                    <p class="text-warning text"><i><u> Github Projects:</u></i> </p>
                    <ul>
                        <ul>
                            <li><i>https://github.com/haanzee/Resort-Booking-System-RBS-.git</i></li>
                            <li><i>https://github.com/haanzee/Business-Directory.git</i></li>
                            <li><i>https://github.com/haanzee/FlaskBlog.git</i></li>
                            <li><i>https://github.com/haanzee/CRUD-Laravel-8.git</i></li>
                            <li><i>https://github.com/haanzee/addressbook.git (Laravel-9) </i></li>
                            <li><i>https://github.com/haanzee/django_todo.git </i></li>
                            <li><i>https://github.com/haanzee/django_util.git </i></li>
                        </ul>
                    </ul>
                    <p class="text-warning text"><i><u> Personal Projects: www.haanzee.com</u></i> </p>
                    <ul>
                        <ul>
                            <li><i>https://haanzee.com/projects/portfolio/</i></li>
                            <li><i>https://haanzee.com/haanzee/cbook/</i></li>
                            <li><i>https://haanzee.com/haanzee/laracrud/</i></li>
                            <li><i>https://haanzee.com/haanzee/laraoto</i></li>
                        </ul>
                    </ul>
                    <p class="text-warning text"><i><u> Content Management System (CMS)</u></i> </p>
                    <ul>
                        <ul>
                            <li><i>Wordpress</i></li>
                            <li><i>Drupal</i></li>
                            <li><i>Joomla </i></li>
                            <li><i>Magento</i></li>
                            <li><i>Moodle</i></li>
                        </ul>
                    </ul>
        
                    <p class="text-warning text"><i><u> Work Experience (14 years)</u></i> </p>
                    <ul>
                        <ul>
                            <li class="mb-2"><i>M/s Sona Projects Pvt. Ltd. (from 2006 to March 2021)</i></li>
                            <p><i> Worked as EDP and Finance Manager day to day activity related to finance and EDP department.
                                    Complete responsibility to
                                    finalize the yearly balance sheets and day to day activity TDS, GST, Roc and Income Tax
                                    Compliance</p> </i>
                        </ul>
                        <ul>
                            <li class="mb-2"><i>M/s Safari Bikes Pvt. Ltd. (from 2002 to Feb-2006)</i></li>
                            <p><i> Finance Manager, activity related to finance and EDP department to handle the accounts,
                                    production chain, process the requirement for pending order for delivery in time frame</p>
                            </i>
                        </ul>
        
        
                    </ul>
                    <p class="text-warning text"><i><u> Personal Profile</u></i> </p>
                    <ul>
                        <ul>
                            <li><i>Father's Name : Sh. Piara Singh</i></li>
                            <li><i>Marital Status : Married</i></li>
                            <li><i>Date Of Birth : 05/05/1970 </i></li>
                            <li><i>Language Known : English, Hindi and Punjabi</i></li>
                            <br>
                            <li><i>Expected Salary : Negotiable </i></li>
                            <li><i>Last Salary : 6.5/LPA </i></li>
        
                        </ul>
                    </ul>
                    <br>
                    <br>
                    <p>Jaswinder Singh</p>
                    <p>Plase : Talwara</p>
        
                </h5>
            </div>
        </div>
    </i>
</div>
{% endblock content%}